    .CertificadoAberto{
        padding:20px;
        background-color: #00000097;
        backdrop-filter: blur(10px);
        position: fixed;
        width: 100%;
        height: 100dvh;
        top: 0;
        left: 0;
        z-index: 100 !important;
        display: flex;
        justify-content: center;
        align-items: center;

        .sigle-aberto{
            height: calc(100dvh);
            aspect-ratio: 1/1;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items:end;
            justify-content: center;
            border-radius: 20px;
            overflow: hidden;
            position: relative;

            @media screen and (max-width: 768px) {
                height: auto;
                width: 100%;
                max-width: 800px;
                aspect-ratio: inherit;
            }

            .img{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: end;
                svg{
                    font-size: 40px;
                    flex-shrink: 0;
                    color: var(--cor-secun);
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 0;
                    &:hover{
                        filter: brightness(80%);
                    }
                    @media screen and (max-width: 768px) {
                        position: relative;
                    }
                }

                img{
                    display: block;
                    border-top-left-radius: 10px;
                }
            }

            .info{
                width: 100%;
                display: flex;
                flex-direction: column !important;
                background-color: var(--cor-pop);
                backdrop-filter: blur(10px);
                color: var(--cor-titulo);
                padding: 10px 20px;
                border-radius: 0px 0px 10px 10px;
                overflow: hidden;

                svg{
                    position: relative;
                    font-size: 18px;
                    &:hover{
                        filter: brightness(80%);
                    }
                }

                p{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 20px;

                    @media screen and (max-width: 600px) {
                        font-size: 14px;
                    }
                }

                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    width: 220px;
                    height: 40px;
                    text-align: center;
                    margin: 0 auto;
                    text-decoration: none;
                    padding: 5px 20px;
                    color: var(--cor-titulo);
                    border: 2px solid var(--cor-prima);
                    border-radius: 20px;
                    background-color: transparent;

                    &:hover{
                        background-color: var(--cor-secun-dk);
                    }
                }
            }
        }
    }