.Img_Inicio{
    width: 400px;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    display: flex;
    z-index: 5;

    .gear{
        animation: rodar 5s linear infinite;
        font-size: 100px;
        color: var(--cor-titulo);
        position: absolute;

        &:hover{
            animation-duration: 1s;
        }

        @keyframes rodar {
            100%{
                transform: rotate(360deg);
            }
        }
    }

    div{
        .tela{
            background-color: var(--cor-bg);
            position: absolute;
        }

        span{
            animation: tamanho 3s linear infinite alternate-reverse;
        }

        @keyframes tamanho {
            0%, 30%{
                max-width: 100%;
            }
            100%{
                max-width: 0%;
            }
        }
    }

    .computador{
        position: absolute;
        left: 10%;
        top: 10%;

        .tela{
            top: 8px;
            left: 8px;
            width: 226px;
            height: 122px;

            span{
                height: 10px;
                border-radius: 5px;
                display: block;
                position: absolute;

            }

            .aux{
                width: auto;
                position: absolute;
                left: 10px;
                top: 90px;
                display: flex;
                justify-content: left;

                span{
                    margin-right: 10px;
                    position: relative;
                    width: 10px;
                    background-color: var(--cor-prima);
                }
            }
        }
    }

    .notebook{
        position: absolute;
        right: 4%;
        top: 40%;

        .tela{
            top: 4px;
            left: 22px;
            width: 174px;
            height: 110px;

            span{
                height: 10px;
                border-radius: 5px;
                display: block;
                position: absolute;
            }

            .aux{
                width: auto;
                position: absolute;
                left: 10px;
                top: 90px;
                display: flex;
                justify-content: left;

                span{
                    margin-right: 10px;
                    position: relative;
                    width: 10px;
                    background-color: var(--cor-prima);
                }
            }
        }
    }

    .tablet{
        position: absolute;
        left: 20%;
        bottom: 8%;

        @media screen and (max-width: 450px) {
            left: 10%;
        }

        .tela{
            top: 4px;
            left: 4px;
            width: 128px;
            height: 90px;

            span{
                height: 10px;
                border-radius: 5px;
                display: block;
                position: absolute;

            }

            .aux{
                width: auto;
                position: absolute;
                left: 10px;
                top: 70px;
                display: flex;
                justify-content: left;

                span{
                    margin-right: 10px;
                    position: relative;
                    width: 10px;
                    background-color: var(--cor-prima);
                }
            }
        }
    }

    .celular{
        position: absolute;
        right: 10%;
        top: 20%;

        @media screen and (max-width: 450px) {
            right: 5%;
        }

        .tela{
            top: 4px;
            left: 2px;
            width: 52px;
            border-radius: 2px;
            height: 90px;
            overflow: hidden;

            span{
                height: 8px;
                border-radius: 5px;
                display: block;
                position: absolute;

            }

            .aux{
                width: auto;
                position: absolute;
                left: 5px;
                top: 60px;
                display: flex;
                justify-content: left;

                span{
                    margin-right: 4px;
                    position: relative;
                    width: 8px;
                    background-color: var(--cor-prima);
                }
            }
        }
    }
}