.Logo{
    
    color: var(--cor-titulo);
    display: flex;
    font-size: 24px;
    font-weight: 600;
    user-select: none;
    text-decoration: none;

    span{
        color: var(--cor-prima);
    }

    p{
        width: 0;
        overflow: hidden;
        transition: width 0.5s;
        //background-color: #00ffff1a;

        &.true{
            width: 44px;
        }
    }

    @media screen and (min-width: 769px) {
        &:hover{
            p{
                width: 44px;
            }
        }
    }

}