.Sobre{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    min-height: calc(100vh - 90px);
    padding-top: 20px;
    padding-right: 50px;
    z-index: 10;
    align-items: center;
    position: relative;
    //background-color: rgba(0, 255, 255, 0.100);

    @media screen and (max-width: 768px) {
        width: 100%;
        padding-right: 0;
        padding-top: 50px !important;
    }

    @media screen and (max-width: 968px) {
        min-height: calc(100vh - 40px);
        padding: 0 20px;
        padding-top: 12px;
    }

    h1{
        text-align: center;
        font-size: clamp(26px, 4vw, 42px);
        color: var(--cor-titulo);
        margin-bottom: 30px;
        padding-left: 50px;

        @media screen and (max-width: 768px) {
            padding-left: 0px;
            margin-bottom: 18px;
        }
    }

}
